doctype html
html(lang="en")
  head
    link(rel="icon" type="image/png" href="/favicon.ico")/

    if production
      link(rel="stylesheet" href="/css/main.min.css" type="text/css")/
    else
      link(rel="stylesheet" href="/css/main.css" type="text/css")/

    title= title
  body
    .container
      .row
        .twelve.columns
          #app-container !{app}

      .row
        .twelve.columns
          footer version: #{version}
